@model VKInfo.Models.Language
@{
	ViewBag.Title = "Manology.info";
}
<script type="text/javascript" src="../../Scripts/vk_api/vk_api.js"></script>
<script type="text/javascript" src="http://highcharts.com/js/testing-exporting.js"></script>
<div class="well" id="search-warning">
	<h2 class="alert alert-error">На данный момент поддерживается поиск только по <strong>ВКонтакте</strong>.
	</h2>
	<p class="alert alert-info">
		Анализ профайлов <b>Facebook, Twitter, LiveJournal</b> скоро будет!
	</p>
</div>
<div class="well" id="search-error">
	<h2 class="alert alert-error">Пользователь с таким ID <strong>не найден</strong>.
	</h2>
	<p class="alert alert-info">
		Попробуйте еще раз.
	</p>
</div>
<div class="user-container" id="current-user">
	<div class="row well user-header">
		<button class="btn btn-inverse pull-right" id="recalculate-button" onclick="backToMyStats()" style="margin: 28px; margin-left: 2px;">
			Перейти к моему рейтингу</button>
		<button class="btn pull-right" onclick="recalculateStats()" style="margin: 28px; margin-right: 2px;">Пересчитать</button>
		<div class="content-container wide">
			<a data-bind="attr: {href: link}" target="_blank">
				<div class="content pull-left">
					<img data-bind="attr: {src: photo_src}" />
				</div>
				<p id="current-user-name" class="pull-left" style="text-decoration: underline;" data-bind="text: user_name">
				</p>
			</a>
		</div>
	</div>
</div>
<header class="subhead custom">
	<div class="subnav subnav-fixed">
		<ul class="nav nav-fixed nav-pills" id="tab-navigation">
			<li class="active"><a href="#home-hobbies" data-toggle="tab">Анализ стены</a></li>
			<li><a href="#like-me" data-toggle="tab">Лайки</a></li>
			<li><a href="#like-you" data-toggle="tab">Мне нравится</a></li>
			<li><a href="#recently-watched" data-toggle="tab">Недавно просмотренные</a></li>
			@*<li><a href="#home-linguistic" data-toggle="tab">Словарный запас</a></li>*@
			@*<li><a href="#home-friends" data-toggle="tab">Друзья</a></li>*@
		</ul>

		@*<a data-toggle="modal" href="#show-other-person" class="btn pull-right" style="margin-left: 20px">Посмотреть другого человека</a>*@
	</div>
</header>
<div class="clear">
</div>

<div class="loader well">
	<p>Данные загружаются, пожалуйста, подождите...</p>
</div>

<div class="tab-content">
	<div class="tab-pane fade" id="like-me">
		<div id="groups-container">
		</div>
		<section id="liked-me">
			<div id="top-liked-me-users" class="container-border">

				<h2>Пользователи, <small>которым я понравился:</small>
				</h2>
				<div class="alert alert-error" id="error-bar" style="display: none">
					Популярные пользователи на данный момент могут анализироваться неверно.
				</div>
				<ul id="likedme-rating" class="thumbnails" data-bind="foreach: showedLikedMe, visible: showedLikedMe().length > 0">
					<li style="width: 200px;">
						<a data-bind="attr: {href: link}" target="_blank" class="thumbnail">
							<div style="min-height: 190px; text-align: center;">
								<img data-bind="attr: {src: photo}" style="max-width: 190px; max-height: 190px;" />
							</div>
							<div class="caption">
								<h3 data-bind="text: username" style="text-align: center;"></h3>
								<p>
									<button data-bind="click: likedMeRatingModal" class="btn btn-secondary" style="width: 100%;">
										<span><i class="icon-heart"></i></span>&nbsp<span data-bind="text: likesCount">
										</span>&nbsp&nbsp&nbsp<span><i class="icon-retweet"></i></span>&nbsp<span
											data-bind="text: repostsCount"></span>
									</button>
									<button data-bind="click: analyzeUser" class="btn btn-primary" style="width: 100%;">Анализировать</button>
								</p>
							</div>
						</a>
						<div class="modal hide fade">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									×</button>
								<h3 data-bind="text: username"></h3>
							</div>
							<div class="modal-body">
								<h4>Лайки:</h4>
								<div data-bind="foreach: likedContentList">
									<p>
										<a data-bind="attr: {href: link}" target="_blank"><span data-bind="text: link"></span>
										</a>
									</p>
								</div>
								<h4 data-bind="visible: repostedContentList().length > 0">Репосты:</h4>
								<div data-bind="foreach: repostedContentList">
									<p>
										<a data-bind="attr: {href: link}" target="_blank"><span data-bind="text: link"></span>
										</a>
									</p>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger" data-dismiss="modal">
									Закрыть</button>
							</div>
						</div>
					</li>
					@*<div class="content-container">
						<a data-bind="attr: {href: link}" target="_blank">
							<div class="content">
								<img data-bind="attr: {src: photo}" />
								<div class="content-header">
									<p data-bind="text: username">
									</p>
								</div>
							</div>
						</a>
						<button data-bind="click: likedMeRatingModal" class="btn btn-secondary likes-list">
							<span><i class="icon-heart"></i></span>&nbsp<span data-bind="text: likesCount">
							</span>&nbsp&nbsp&nbsp<span><i class="icon-retweet"></i></span>&nbsp<span
								data-bind="text: repostsCount"></span>
						</button>
						<button data-bind="click: analyzeUser" class="btn btn-primary manology-open">Анализировать</button>
						<div class="clear"></div>
					</div>*@
				</ul>
				@*	<div style="clear: both">
				</div>*@
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: currentLength() < maxLength()">
						Еще</button>
					<button class="btn collapser" data-bind="click: collapse, visible: currentLength() > 4">
						Свернуть</button>
				</div>
			</div>
			<div id="most-liked-photo" class="well">
				<h2>Рейтинг моих фотографий:</h2>
				<div id="likedphotos-rating" data-bind="foreach: showedLikedPhotos, visible: showedLikedPhotos().length > 0">
					<div class="content-container">
						<a data-bind="attr: {href: link}" target="_blank">
							<div class="content">
								<img data-bind="attr: {src: source}" />
								<div class="content-footer">
									<p>
										<span><i class="icon-heart icon-white"></i></span>&nbsp<span data-bind="text: likesCount">
										</span>&nbsp&nbsp&nbsp@*<span><i class="icon-retweet icon-white"></i></span>&nbsp<span
											data-bind="text: repostsCount"> </span>*@
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div style="clear: both">
				</div>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: currentLength() < maxLength()">
						Еще</button>
					<button class="btn collapser" data-bind="click: collapse, visible: currentLength() > 4">
						Свернуть</button>
				</div>
			</div>
			<div id="most-liked-post" class="well">
				<h2>Рейтинг моих постов:</h2>
				<div id="likedposts-rating" data-bind="foreach: showedLikedPosts, visible: showedLikedPosts().length > 0">
					<div class="content-container">
						<a data-bind="attr: {href: link}" target="_blank">
							<div class="content">
								<img data-bind="attr: {src: picsrc}" />
								<p class="content-header" data-bind="text: displayed, visible: displayed()">
								</p>
								<div class="content-footer">
									<p>
										<span><i class="icon-heart icon-white"></i></span>&nbsp<span data-bind="text: likesCount">
										</span>&nbsp&nbsp&nbsp<span><i class="icon-retweet icon-white"></i></span>&nbsp<span
											data-bind="text: repostsCount"> </span>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div style="clear: both">
				</div>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: currentLength() < maxLength()">
						Еще</button>
					<button class="btn collapser" data-bind="click: collapse, visible: currentLength() > 4">
						Свернуть</button>
				</div>
			</div>
			@*<div id="posts-by-month" class="well">
					<h2>
						Посты на стене:</h2>
						<div id="posts-by-month-chart">
				</div>
			</div>*@
		</section>
	</div>
	<div class="tab-pane fade" id="like-you">
		<section id="i-liked">
			<div id="top-liked-users" class="well">
				<h2>Пользователи, <small>которые мне понравились:</small>
				</h2>
				<div id="favourite-users-rating" data-bind="foreach: showedUsers, visible: showedUsers().length > 0">
					<div class="content-container">
						<a data-bind="attr: {href: link}" target="_blank">
							<div class="content">
								<img data-bind="attr: {src: photo}" />
								<div class="content-header">
									<p data-bind="text: displayed">
									</p>
								</div>
							</div>
						</a>
						<div>
							<p>
								<button data-bind="click: favouriteUsersRatingModal" class="btn btn-secondary likes-list">
									<span><i class="icon-heart"></i></span>&nbsp<span data-bind="text: contentCount">
									</span>
								</button>
								<button data-bind="click: analyzeUser" class="btn btn-primary manology-open">Анализировать</button>
							</p>
							<div style="clear: both"></div>
						</div>
					</div>
					<div class="modal hide fade">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								×</button>
							<h3 data-bind="text: displayed"></h3>
						</div>
						<div class="modal-body">
							<h4>Лайки:</h4>
							<div data-bind="foreach: contentList">
								<p>
									<a data-bind="attr: {href: link}" target="_blank"><span data-bind="text: link"></span>
									</a>
								</p>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal">
								Закрыть</button>
						</div>
					</div>
				</div>
				<div style="clear: both">
				</div>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: currentLength() < maxLength()">
						Еще</button>
					<button class="btn collapser" data-bind="click: collapse, visible: currentLength() > 4">
						Свернуть</button>
				</div>
			</div>
			<div id="top-liked-pages" class="well">
				<h2>Страницы, <small>которые мне понравились:</small>
				</h2>
				<div id="favourite-groups-rating" data-bind="foreach: showedGroups, visible: showedGroups().length > 0">
					<div class="content-container">
						<div class="content">
							<a data-bind="attr: {href: link}" target="_blank">
								<img data-bind="attr: {src: photo}" />
								<div class="content-header">
									<p data-bind="text: displayed">
									</p>
								</div>
							</a>
						</div>
						<div>
							<p>
								<button data-bind="click: favouriteGroupsRatingModal" class="btn btn-secondary likes-list" style="float: none; width: 100%;">
									<span><i class="icon-heart"></i></span>&nbsp<span data-bind="text: contentCount">
									</span>
								</button>
							</p>
						</div>
					</div>
					<div class="modal hide fade">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								×</button>
							<h3 data-bind="text: displayed"></h3>
						</div>
						<div class="modal-body">
							<h4>Лайки:</h4>
							<div data-bind="foreach: contentList">
								<p>
									<a data-bind="attr: {href: link}" target="_blank"><span data-bind="text: link"></span>
									</a>
								</p>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal">
								Закрыть</button>
						</div>
					</div>
				</div>
				<div style="clear: both">
				</div>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: currentLength() < maxLength()">
						Еще</button>
					<button class="btn collapser" data-bind="click: collapse, visible: currentLength() > 4">
						Свернуть</button>
				</div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="home-linguistic">
		<section id="dictionary-power">
			<div class="well" id="word-stat">
				<h2>Статистика:</h2>
			</div>
		</section>
	</div>
	<div class="tab-pane fade in active" id="home-hobbies">
		<div id="chart-container-invisible">
		</div>
		<section id="hobbies">
			<div class="container-border" id="charts">

				<div class="tabbable tabs-left">
					<ul id="main-page-tabs" class="nav nav-tabs">
						<li class="active"><a data-target="hobbies-chart" href="#lA" data-toggle="tab">
							<img src="@Url.Content("~/Content/images/activity_2.png")"/>Увлечения</a></li>
						<li class=""><a data-target="group-reposts-chart" href="#lB" data-toggle="tab">
							<img src="@Url.Content("~/Content/images/retweet.png")"/>Репосты</a></li>
						<li class=""><a data-target="posts-by-month-chart" href="#lC" data-toggle="tab">
							<img src="@Url.Content("~/Content/images/like.png")"/>Популярность</a></li>
						<li class=""><a data-target="contentType-chart" href="#lD" data-toggle="tab">
							<img src="@Url.Content("~/Content/images/post.png")"/>Посты</a></li>
						<li class=""><a data-target="psy-chart" href="#lE" data-toggle="tab">
							<img src="@Url.Content("~/Content/images/psy.png")"/>Психотип</a></li>
					</ul>
					<div style="float: right">
						<div class="big-chart-container" id="target-chart-container">
							<div id="activities-container"></div>
						</div>
						<div id="chart-comment" class="well">
							<div id="reposts-comment">
								<div class="modal hide fade" id="bad-language-posts-modal">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											×</button>
									</div>
									<div class="modal-body">
										<h4>Посты:</h4>
										<div data-bind="foreach: badLanguagePosts">
											<p>
												<a data-bind="attr: {href: link}" target="_blank">
													<span data-bind="text: text"></span>
												</a>
											</p>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-danger" data-dismiss="modal">
											Закрыть</button>
									</div>
								</div>
								<a data-bind="visible: badLanguageWordsCount() > 0" data-toggle="modal" href="#bad-language-posts-modal">Количество мата в записях пользователя: <span data-bind="text: badLanguageWordsCount"></span>
								</a>
								<span data-bind="visible: badLanguageWordsCount() == 0">Количество мата в записях пользователя: <span data-bind="text: badLanguageWordsCount"></span>
								</span>
							</div>
							<div id="likes-comment">
							</div>
							<div id="content-type-comment">
							</div>
							<div id="hobbies-comment">
							</div>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
			<div id="top-posts" class="container-border">
				<div style="float: left; width: 350px;">
					<ul class="nav nav-list bs-docs-sidenav" id="chart-navigation">
						<li class="nav-header" id="hobbies-tab">Записи на стене по темам</li>
						<li class="nav-header" id="wall-tab">Записи на стене по типам содержимого</li>
						<li class="nav-header" id="subscribes-tab">Записи на стене по сообществам</li>
					</ul>
				</div>
				<div style="float: right; width: 520px;">
					<div class="links">
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="home-friends">
		<section id="friends">
			<div id="top-universities" class="well">
				<h2>Топ 3 ВУЗов друзей:</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Место
							</th>
							<th>Университет
							</th>
							<th>Кол-во друзей
							</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: showedUniversities, visible: showedUniversities().length > 0">
						<tr>
							<td data-bind="text: rank"></td>
							<td data-bind="text: universityName"></td>
							<td data-bind="text: friendsCount"></td>
						</tr>
					</tbody>
				</table>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: showedUniversities().length === 3">
						Показать все</button>
					<button class="btn collapser" data-bind="click: collapse, visible: showedUniversities().length != 3">
						Свернуть</button>
				</div>
			</div>
			<div id="top-cities" class="well">
				<h2>Топ 3 городов друзей:</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Место
							</th>
							<th>Город
							</th>
							<th>Кол-во друзей
							</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: showedCities, visible: showedCities().length > 0">
						<tr>
							<td data-bind="text: rank"></td>
							<td data-bind="text: cityName"></td>
							<td data-bind="text: friendsCount"></td>
						</tr>
					</tbody>
				</table>
				<div class="form-actions">
					<button class="btn expander" data-bind="click: expand, visible: showedCities().length === 3">
						Показать все</button>
					<button class="btn collapser" data-bind="click: collapse, visible: showedCities().length != 3">
						Свернуть</button>
				</div>
			</div>
			<div id="sex-percentage" class="well">
				<h2>Соотношение полов:</h2>
				<div id="sex-percentage-chart">
				</div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="recently-watched">
		<section class="well" data-bind="foreach: watchList, visible: watchList().length > 0">
			<div class="user-container container-border">
				<button class="btn btn-primary pull-right" data-bind="click: analyzeUser" style="margin: 28px;">Посмотреть в Manology</button>
				<button class="btn pull-right" data-bind="click: $root.deleteFromWatchList" style="margin: 28px 0;">Удалить</button>
				<div class="content-container wide">
					<a data-bind="attr: {href: link}" target="_blank">
						<div class="content pull-left">
							<img data-bind="attr: {src: photo_src}" />
						</div>
						<p class="pull-left" style="margin: 19px;" data-bind="text: user_name">
						</p>
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</section>
		<div class="well" data-bind="visible: watchList().length == 0" style="text-align: center;">
			<p>Список просмотренных пуст</p>
		</div>
	</div>
</div>
<div class="modal hide" id="show-other-person">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×</button>
		<h3>Просмотр другого человека</h3>
	</div>
	<div class="modal-body">
		<p style="vertical-align: middle;">
			<label style="height: 30px; line-height: 30px; float: left; margin-right: 10px">
				Ссылка на человека:</label><input type="text" class="span3 search-query" id="modal-person-href"
					placeholder="Например, vk.com/id5" />
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Закрыть</a> <a id="modal-person-submit"
			data-dismiss="modal" href="#" onclick="showOtherPerson()" class="btn btn-primary">Просмотреть</a>
	</div>
</div>
<div class="modal hide" id="psy-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×</button>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
	</div>
</div>
<div class="modal hide" id="psy-modal-info">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×</button>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
	</div>
</div>
<script type="text/javascript">
	$(function () {
		if (access_token) {
			var $loader = $('.loader');
			$loader.prepend('<p class="progressbar"><img src="/content/images/progress.gif" /></p>')
					.show();
			getData();
			//getFriends();
		}
		else {
			localStorage['sentUserId'] = location.hash.substring(1);
			location.href = '/';
		}
	});
</script>
