@model VKInfo.Models.Language
@{
	ViewBag.Title = "Manology.info";
	Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Manology</title>
	<link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
	<script src="@Url.Content("~/scripts/jquery-1.7.2.min.js")"></script>
	<script src="@Url.Content("~/scripts/app.js")?v11"></script>
	<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
</head>
<body>
	<script>
		$(function () {
			if (access_token) {
				location.href = '/Like/Me';
			}
		});
	</script>
	<div class="container" style="overflow: hidden; height: 100%">
		<div class="center content">
			<img src="@Url.Content("~/Content/images/bg.png")" alt="Manology" class="centeredImage" />
			<div id="info">
				<h1>Manology – узнай лучше себя и своих друзей
				</h1>
				<em>Анализ человека по его профилю в социальных сетях</em>
				@Html.Partial("_VkLoginButton")
			</div>
			<div class="tip" data-info="infoblock">i</div>
			<div id="infoblock"></div>
			@*<div class="square" id="sq1"></div>
			<div class="square" id="sq2"></div>
			<div class="square" id="sq3"></div>*@
		</div>
	</div>
	<script>
		$(function () {
			$('[data-info]')
				.on('click', function (e) {
					infoblockId = '#' + $(this).attr('data-info');

					$info = $(infoblockId);

					if ($info.html() == '') {
						$(infoblockId)
							.load('/home/infoblock', function (data) {
								console.log(data);
							})
					}

					if ($(this).hasClass('infoblockOpen')) {
						$info
							.animate({
								top: '-450px'
							}, 800);
						$(this).removeClass('infoblockOpen');
					}
					else {
						$info
							.animate({
								top: '0px'
							}, 800);
						$(this).addClass('infoblockOpen');
					}
				});

			$(document).keyup(function (e) {
				if (e.keyCode == 27) {
					$('#infoblock')
						.animate({
							top: '-450px'
						}, 800);
					$('.tip').removeClass('infoblockOpen');
				}
			});
		})
	</script>
</body>
</html>
